@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

$darkgrey: #323541;
$lightgrey: #b5b5b5;
$orange: #ff7214;
$darkblue: #112e41;
$bg-dark: #f7f7f7;

html{
    font-size: 62.5%;
}

h1, h2, h3, h4, h6{
    font-family: $poppins;
}

h2{
    font-size: 6rem;
    font-weight: $bold;
    color: $darkblue;
    line-height: 7rem;
}

h3{
    font-size: 4.2rem;
    font-weight: $bold;
    line-height: 50px;
}

h4{
    font-size: 2rem;
    font-weight: $medium;
    line-height: 30px;
}

h5{
    font-family: $roboto;
    font-weight: $medium;
    font-size: 1.4rem;
    color: $orange;
    text-transform: uppercase;
}

p, a {
    text-decoration: none;
    font-family: $roboto;
    font-size: 1.5rem;
}

ul{
    list-style: none;
}

button{
    background: $orange;
    font-size: 1.4rem;
    color: white;
    padding: 2rem 3.5rem;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;

}

.text-padding-right{
    padding-right: 20%;
}

.p-145{
    padding-top: 145px;
}

.text-center{
    text-align: center;
}

.text-body{
    color: $darkgrey;
}

p.text-grey{
    color: $darkgrey;
}

.pl-20{
    padding-left: 10%;
}

.pr-20{
    padding-right: 10%;
}

.pt-80{
    padding-top: 80px;
}

.pb-145{
    padding-bottom: 145px;
}

@mixin flexbox($dir, $ali, $jus, $g){
    display: flex;
    flex-direction: $dir;
    align-items: $ali;
    justify-content: $jus;
    gap: $g;
}

@mixin hero-background-pos($pos, $t, $r, $l, $b){
    position: $pos;
    top: $t;
    right: $r;
    bottom: $b; 
    left: $l;
}

.flex-box{
    @include flexbox(row, center, space-between, 30px);
}

.flex-item{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
}

.text-box{
    @include flexbox(column, none, center, 25px);
    a{
        color: #000;
        font-weight: $bold;
    }
}

.heading{
    @include flexbox(column, center, none, 30px);
}

    body{
        // font-size: 15px;
        #nav{
            background: $bg-dark;
        nav{
            @include flexbox(row, center, space-between, 0);
            // width: clamp(400px, 80%, 1145px);
            width: 80%;
            margin: 0 auto;
            padding: 10px 0;
            h6{
                font-size: 3.2rem;
            }
            ul{
                text-transform: uppercase;
                li{
                    display: inline-block;
                    margin-right: 50px;
                    a{
                        text-decoration: none;
                        color: $darkgrey;
                    }
                }
            }
        }// end of nav
    }//end of nav section

        .hero-box {
            @include flexbox(row, center, space-evenly, 30px);
            background: $bg-dark;;
            
            .left-box{
                .hero-text{
                    padding-left: 20%;

                    h2{
                        margin-bottom: 50px;
                        margin-top: 30px;
                    }

                    h5:last-of-type{
                        margin-bottom: 60px;
                    }

                    .text-grey{
                        color: $lightgrey;
                    }
                }
            }//end of left box

            .right-box{
                text-align: center;

                .right-image-holder{
                    position: relative;
                    margin: 3.0rem 0;
                    padding: 5.0rem 0;
                    display: inline-block;
                    overflow: hidden;
                
                img.hero-image{
                    width: clamp(300px, 80%, 725px);
                    z-index: 99;
                    position: relative;
                    
                }

                img.back-ring{
                    @include hero-background-pos(absolute, 2%, 11%, none, none);
                    width: clamp(50px, 20%, 115px);
                }

                img.blue-dot{
                    @include hero-background-pos(absolute, none, none, 30%, 5%);
                    width: clamp(25px, 10%, 65px);
                }

                img.orange-dot{
                    @include hero-background-pos(absolute, 23%, 75%, none, none);
                    width: clamp(25px, 10%, 65px);
                    z-index: 999;
                }
            }//end of right image holder
            }//end of right box
        }//end of hero box

        #second-sec{
            .second-sec-container{
                position:relative;

                img.pattern{
                    position: absolute;
                    top: 25%;
                    left: 7%;
                    z-index: -1;
                    width: 30%;
                }

                img.map{
                    position: absolute;
                    bottom: 10%;
                    left: 30%;
                }

                .second-sec-left{
                    @include flexbox(row, none, none, 30px);
                
                    .l-img{
                        flex-basis: 455px;
                        flex-grow: 1;
                        flex-shrink: 1;
                        img.left-image{
                            margin-top: 75px;
                            width: 100%;
                        }
                    }
                    .r-img{
                        flex-basis: 355px;
                        flex-grow: 1;
                        flex-shrink: 1;

                        img{
                            width: 90%;
                            height: auto;
                            display: block;
                        }

                        h3{
                            margin-top: 50px;
                        }
                    }
                    
                }//end of second-sec-left

                
            }
        }//end of section second-sec

        #third-sec{
    
            .third-sec-container{

            .row{
                width: 80%;
                margin: 0 auto;
                padding-top: 100px;
                @include flexbox(row, none, none, 30px);
                

                .card{
                    flex-basis: 100%;
                    border: 1px solid $lightgrey;
                    padding: 50px;
                    background: white;
                    @include flexbox(column, center, none, 30px);
                    filter: drop-shadow(0px 0px 5px $lightgrey);
                    transition: 0.3s;
                    
                    &:hover{
                        filter: drop-shadow(0px 0px 5px purple);
                        transition: 0.3s;
                    }

                    p:first-of-type{
                        font-weight: $bold;
                        font-size: 2.2rem;
                        font-family: $poppins;
                    }

                    p:last-of-type{
                        font-size: 1.5em;
                    }

                    @mixin work-child($b, $c){
                        background: $b;
                        color: $c;
                        padding: 30px;
                        border-radius: 50%;
                    }

                    i.icon-orange{
                        @include work-child (#ffeee2, $orange);
                    }

                    i.icon-purple{
                        @include work-child (#ebe3ff, #b394ff);
                    }

                    i.icon-blue{
                        @include work-child (#d5f8ff, #67bbfe);
                    }
                    
                    i.icon-pink{
                        @include work-child (#ffedf5, #ff1e86);
                    }
                }
            }
        }
        }//end of third sec

        #fourth-sec{
            .fourth-sec-container{
                .creative-works{
                @include flexbox(row, center, none, 30px);

                .c-image{
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
                }
            }
        }//end of fourth sec
    }//end of body
